<%- include('../partials/header') %>


<% blogs.reverse().forEach(function(b) { %>
    <table><br><br>
      <thead > <h1><%= b.title %></h1> </thead>
      <tr>
            <td class="author"> <%= b.addedBy %> </td>
            <% if (b.userId === b.userId) { %>
            <td >
                    <form action="/blogs/<%= b._id %>/delete" method="POST">
                        <input class="author" type="submit" value="Delete"></form>
                        <% } %>

                            <form action="/blogs/<%= b._id %>/updateT" method="POST">        
                                <input type="text" name="editTitle" placeholder="<%= b.title %>">
                                <button>edit Title</button></form>
                                <form action="/blogs/<%= b._id %>/update" method="POST">
                                    <input type="text" name='edit' placeholder="<%= b.text %>">
                                    <button>Edit</button>
                                </form>
                            
            </td>
            <tb><a href="/blogs/<%= b._id %>">View Post</a></tb>
        </tr>
        
        <%}) %>
    </table>

<%- include('../partials/footer') %>
